{{#partial "content"}}
    //{{#if member}}
    <h1>Edit member</h1>
    {{team.id}}
    {{member.id}}
    <form action="/teams/{{team.id}}/members/{{member.id}}/update" method="post">
        <label for="member">Edit member name</label>
        <input id="member" name="member" type="text" value="{{member.name}}">
        <button type="submit" class="btn btn-danger">Edit Member</button>
    </form>
    {{else}}

        //{{/if}}
{{/partial}}

{{> layout.hbs}}
