{{#partial "content"}}
    <p><strong>Team name:</strong></p>
    <p>{{team.name}}</p>
    <p><strong>Team description:</strong></p>
    <p>{{team.description}}</p>
        {{#each members}}
            <ul>
                <li>
                    <p>{{name}}<a href="/teams/{{team.id}}/members/{{id}}"></a></p>
                </li>
            </ul>
            <p>
                <a href="/teams/{{team.id}}/members/{{id}}/update"><button class="btn btn-primary">Update Member</button></a>
                <a href="/teams/{{teamId}}/members/{{id}}/delete"><button class="btn btn-danger">Delete Member</button></a>
            </p>
        {{/each}}
    <br>
    <form action="/teams/{{team.id}}/members/add" method="post">
        <div>
            <label for="members">Add Team members</label>
            <input id="member1" name="member1" type="text">
            <input id="member2" name="member2" type="text">
        </div>
        <br>
        <button type="submit" class="btn btn-danger">Add Member</button>
    </form>
    <br>

    <p>

        <a href="/teams/{{team.id}}/update"><button class = "btn btn-primary">Edit Team</button></a>

        <a href="/teams/{{team.id}}/delete"><button class = "btn btn-danger">Delete Team</button></a>

    </p>

{{/partial}}

{{> layout.hbs}}