{{#partial "content"}}
    <p><strong>Team name:</strong></p>
    <p>{{team.name}}</p>
    <p><strong>Team description:</strong></p>
    <p>{{team.description}}</p>
    <h5><strong>Created At:</strong></h5>
    <p>{{team.createdAt}}</p>
    <p><strong>Team members:</strong></p>
        {{#each team.teamMembers}}
            <p>{{this}}</p>
        {{/each}}

    <p>

        <a href="/teams/{{team.id}}/update"><button class = "btn btn-primary">Edit Team</button></a>

        <a href="/teams/{{team.id}}/delete"><button class = "btn btn-danger">Delete Team</button></a>

    </p>

{{/partial}}

{{> layout.hbs}}